# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

curl -o .gitignore https://raw.githubusercontent.com/github/gitignore/main/Python.gitignore
.aider*

.aider.chat.history.md
.aider.input.history

node_modules/
mcp-server/

.continue/*

*.json
.aider.chat.history.md
.aider.input.history

.qwen/
gha-creds-*.json


.github